# Exclude docs from language stats
/notes/**/* linguist-vendored=true

# Exclude stuff I didn't write
/vindolanda/Assets/TextMesh[[:space:]]Pro/**/* linguist-vendored=true
/vindolanda/Assets/Samples/**/* linguist-vendored=true
/vindolanda/Assets/ThirdParty/**/* linguist-vendored=true
